@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* User profile */
.profile-bg-cover {
  @apply flex bg-gray-200 w-28 h-28 md:w-40 md:h-40 overflow-hidden rounded-full 
  inline-block text-center align-middle my-0 mx-auto bg-cover;
}
.active {
  @apply w-4 h-4 rounded-full border-white border-2 bg-green-600 absolute 
  bottom-1 right-[45px] md:right-[31%] lg:right-[36%] xl:right-[39%] 2xl:right-[40%];
}

/* Navigation links styles */
.nav-link {
  @apply flex gap-x-4;
}

.meny > * {
  @apply stroke-blue-color text-blue-color;
}

.search-input {
  @apply block rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 placeholder-gray-500 focus:border-blue-color
 focus:text-gray-800 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-color;
}

.langage-select {
  @apply border rounded p-1 cursor-pointer focus:border-blue-color focus:outline-none focus:ring-1 focus:ring-blue-color;
}

.sell-btn {
  @apply text-sm bg-blue-color p-2 text-white rounded;
}

.active-link {
  @apply text-blue-color border-t-4 border-transparent;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* Bottom navigation styles */
.bottom-active-link {
  @apply bg-transparent;
}
.bottom-active-link > * {
  @apply text-blue-color stroke-blue-color;
}
.bottom-icon {
  @apply w-6 h-6;
}

.icon-blue {
  @apply h-6 w-6 text-blue-color p-1 rounded-full duration-300 ease-in-out hover:w-8 hover:p-0 
  cursor-pointer;
}

/* Form */
.form-input {
  @apply block w-full h-12 appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 
  shadow-sm focus:border-blue-color focus:outline-none focus:ring-blue-color sm:text-sm text-gray-700;
}

.valide-form-btn {
  @apply flex w-full h-12 justify-center items-center rounded-md border border-transparent bg-blue-color py-2 px-4 text-[16px] 
  font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-color focus:ring-offset-2;
}
.link-form-auth {
  @apply inline-flex w-full h-12 justify-center items-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm 
  font-medium text-gray-500 shadow-sm hover:bg-gray-50;
}

.errors {
  @apply text-xs text-red-600;
}

/* Home */
section {
  @apply py-6;
}
.section-title {
  @apply text-xl font-medium text-gray-500;
}

/* Swipper styles */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  justify-content: center;
  align-items: center;
}
.swiper-slide p {
  @apply absolute bottom-4 left-0 right-0 text-gray-300 md:text-3xl;
}
.swiper-pagination-bullet {
  @apply bg-white;
}
.swiper-pagination-bullet-active-main {
  @apply bg-blue-color opacity-90;
}

/* .swiper-slide img {
  @apply block w-full md:h-[60vh] object-cover rounded-xl;
} */

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply text-gray-300 text-[20px];
}

/* Loader style */
.dot-spinner {
  --uib-size: 1.5rem;
  --uib-speed: 0.9s;
  --uib-color: #ffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 7px;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
