@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* Navigation links styles */
.nav-link {
  @apply flex gap-x-4;
}

.meny > * {
  @apply stroke-blue-color text-blue-color;
}

.search-input {
  @apply block rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 placeholder-gray-500 focus:border-blue-color
 focus:text-gray-800 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-color;
}

.langage-select {
  @apply border rounded p-1 cursor-pointer focus:border-blue-color focus:outline-none focus:ring-1 focus:ring-blue-color;
}

.sell-btn {
  @apply text-sm bg-blue-color p-2 text-white rounded;
}

.active-link {
  @apply text-blue-color border-t-4 border-transparent;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* Bottom navigation styles */
.bottom-active-link {
  @apply bg-transparent;
}
.bottom-active-link > * {
  @apply text-blue-color stroke-blue-color;
}
.bottom-icon {
  @apply w-6 h-6;
}

.icon-blue {
  @apply h-6 w-6 text-blue-color p-1 rounded-full duration-300 ease-in-out hover:w-8 hover:p-0 
  cursor-pointer;
}

/* Form */
.form-input {
  @apply block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 
  shadow-sm focus:border-blue-color focus:outline-none focus:ring-blue-color sm:text-sm;
}

.valide-form-btn {
  @apply flex w-full justify-center rounded-md border border-transparent bg-blue-color py-2 px-4 text-[16px] 
  font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-color focus:ring-offset-2;
}
.link-form-auth {
  @apply inline-flex w-full justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm 
  font-medium text-gray-500 shadow-sm hover:bg-gray-50;
}

.errors {
  @apply text-xs text-red-600;
}

/* Swipper styles */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;

  justify-content: center;
  align-items: center;
}
.swiper-slide p {
  @apply absolute bottom-4 left-0 right-0 text-gray-300 md:text-3xl;
}

/* .swiper-slide img {
  @apply block w-full md:h-[60vh] object-cover rounded-xl;
} */

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply text-gray-300 text-[20px];
}
